doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='../static/home.css')
  body
    .home
      .formbox
        form#formx.form(method='POST', action='/home')
          input(type='text', name='name', placeholder='name')
          input#submit(type='submit', name='submit')
    script(src='../static/home.js')